@model PagedList.IPagedList<WebMaxiFarmacia.Models.Supplier>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Proveedor";
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2>Proveedores</h2>

        <p>
            @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
        @using (Ajax.BeginForm("Index", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "buscarid"
        }))
        {

            <div class="form-group form-inline">
                <div>
                    <input type="text" name="termino" id="termino" class="form-control" required placeholder="Buscar"  autofocus autocomplete="on"/>
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            </div>
        }

        <div class="table table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Nombre)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Telefono)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Direccion)
                        </th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                @if (Model.Count() == 0)
                {
                    <div class="alert alert-danger">
                        No se encontro el Registro
                    </div>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Telefono)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Direccion)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.SupplierId }, new { @class = "btn btn-primary btn-xs" }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.SupplierId }, new { @class = "btn btn-info btn-xs" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.SupplierId }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }

            </table>
        </div>
        Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new
           {
               page,
               sortOrder = ViewBag.CurrentSort,
               currentFilter = ViewBag.CurrentFilter
           }))
        @Html.ActionLink("Ver Todo", "Index", new { }, new { @class = "btn btn-info btn-xs" })
    </div>
</div>


