@model WebMaxiFarmacia.Models.Category

@{
    ViewBag.Title = "Nuevo";
}


 

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

  
        <div class="col-xs-offset-1 col-xs-10">
            <div class="form-horizontal">
                <h2>Nueva</h2>
                <h4>Categoria</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <hr />
             
                <div class="form-group">
                    @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2"})
                    <div class="col-xs-12 col-md-10">
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", autofocus = "autofocus" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-md-10">
                        <input type="submit" value="Crear" class="btn btn-primary"  />
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
   

 
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
