@model WebMaxiFarmacia.Models.Box

@{
    ViewBag.Title = "Detalle-Caja";
}

<h2>Detalles</h2>

<div>
    <h4>Caja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.nombresuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.nombresuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Guardar", "Edit", new { id = Model.BoxId }, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default"})
</p>
