@model IEnumerable<WebMaxiFarmacia.Models.Box>

@{
    ViewBag.Title = "Caja";
}

<h2>Caja</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary"})
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Company.nombresuc)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th class="text-center">Acciones</thclass="text-center">
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Company.nombresuc)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td class="text-center">
            @Html.ActionLink("Editar", "Edit", new { id=item.BoxId }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.BoxId }, new { @class = "btn btn-info btn-xs" }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.BoxId }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
