@model WebMaxiFarmacia.Models.Warehouse

@{
    ViewBag.Title = "Eliminar";
}


<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h2>Eliminar</h2>
        <h3>Esta seguro de Eliminar este Elemento?</h3>
        <div>
            <h4>Bodega</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Company.nombresuc)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.nombresuc)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                </div>
            }
        </div>

    </div>
</div>

