@model WebMaxiFarmacia.Models.Inventory

@*@ViewBag.inventario.WarehouseId
    @ViewBag.inventario.inventoryId
    @ViewBag.inventario.ProductId*@

@*@Model.WarehouseId
    @Model.inventoryId
    @Model.ProductId*@

@if (Model.inventoryId == 0)
{
    <p class="text-info">
        Se creara el inventario de este producto
    </p>
}
else
{
    <div>
        <p class="text-info">
            Creado: <strong>@Model.FechaCreada.ToShortDateString()</strong><br />
            Actualizada: <strong>@Model.FechaActualizada.ToShortDateString()</strong><br />
            por: <strong>@Model.User.NombreUser</strong>
        </p>
    </div>
}

<br />
@using (Ajax.BeginForm("comprar", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "target"
}))
{

    <input type="hidden" name="idbodega" value="@Model.WarehouseId" />
    <input type="hidden" name="idinventario" value="@Model.inventoryId" />
    <input type="hidden" name="idproducto" value="@Model.ProductId" />

    <div class="row">
        <div class="col-md-offset-2 col-md-9">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group form-inline">
                <div class="text-center">
                    <label class="control-label">Cantidad</label>
                    <input type="text" value="" class="form-control" placeholder="Cantidad" name="newcant" required autofocus />

                    <input type="submit" value="Agregar" class="btn btn-primary" />
                    <p class="text-info">Ingrese numeros mayores a 0.</p>
                    @*@Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-default" })*@
                </div>
            </div>

        </div>
    </div>


}








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




