@model WebMaxiFarmacia.Models.Inventory

@ViewBag.inventario.WarehouseId

@ViewBag.inventario.inventoryId

@ViewBag.inventario.ProductId


@using (Ajax.BeginForm("comprar", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "target"
}))
{

    <input type="hidden" name="idbodega" value="@ViewBag.inventario.WarehouseId" />
    <input type="hidden" name="idinventario" value="@ViewBag.inventario.inventoryId" />
    <input type="hidden" name="idproducto" value="@ViewBag.inventario.ProductId" />

    <div class="row">
        <div class="col-md-offset-2 col-md-8">

    <div class="form-group form-inline">
        <div class="">
            <label class="control-label">Cantidad</label>
            <input type="text" value="" class="form-control" placeholder="Cantidad" name="newcant" required/>
            <input type="submit" value="Agregar" class="btn btn-primary" />
            @*@Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-default" })*@
        </div>
    </div>

        </div>
    </div>


}








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




