@model WebMaxiFarmacia.Models.Inventory

@{
    ViewBag.Title = "Editar";
}

<h2>Comprar</h2>


@ViewBag.inventario.WarehouseId

@ViewBag.inventario.inventoryId

@ViewBag.inventario.ProductId


@using (Ajax.BeginForm("comprar", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "target"
}))
{

    <input type="hidden" name="idbodega" value="@ViewBag.inventario.WarehouseId" />
    <input type="hidden" name="idinventario" value="@ViewBag.inventario.inventoryId" />
    <input type="hidden" name="idproducto" value="@ViewBag.inventario.ProductId" />
    <div class="form-group">
        <label>Cantidad</label>
        <div class="col-md-10">
            <input type="text" value="" class="form-control" placeholder="Cantidad" name="newcant" />
            <input type="submit" value="Agregar" class="btn btn-primary" />
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
        </div>
    </div>


   
}








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




