
@model WebMaxiFarmacia.Models.Product

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>


<div class="row">
    <div class="col-md-6">
        <div>
            <h4>Producto</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Category.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.Descripcion)
                </dd>

                <dt>
                    Sucursal
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Company.nombresuc)
                </dd>

                <dt>
                    Proveedor
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Supplier.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Codigobarra)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Codigobarra)
                </dd>

                <dt>
                    Producto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombreproducto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.Preciocompra)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Preciocompra)
                    </dd>
                }

                <dt>
                    @Html.DisplayNameFor(model => model.Precioventa)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precioventa)
                </dd>

            </dl>
        </div>
        <p>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                @Html.ActionLink("Editar", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-primary" })
            }
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-6">
        <h4>Inventario</h4>
        <hr />
        @if (Model.Inventories.Count == 0)
        {
            <div class="alert alert-danger">No hay inventarios de este Producto.</div>
            @Html.ActionLink("Comprar", "comprar", "Products", new { id = Model.ProductId }, new { @class = "dialog-window btn btn-info btn-xs" })
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        Bodega
                    </th>
                    <th>
                        Existencia
                    </th>
                </tr>

                @foreach (var item in Model.Inventories.ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Warehouse.Nombre)
                        </td>
                        @if (item.Existencia < 6)
                        {
                            <td class="text-danger text-center">
                                <strong>
                                    @Html.DisplayFor(modelItem => item.Existencia)
                                </strong>
                            </td>
                        }
                        else
                        {

                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Existencia)
                            </td>
                        }

                        @*<td>@Html.ActionLink("Comprar", "Comprar", new { id = item.inventoryId }, new { @class = "btn btn-info  btn-xs" })</td>*@
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                        {

                            <td>@Html.ActionLink("Comprar", "Comprar", "Products", new { id = item.ProductId }, new { @class = "dialog-window btn btn-info btn-xs" })</td>
                        }
                    </tr>
                }
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-center">
                        <strong>@Html.DisplayFor(model => model.Existencia)</strong>
                    </td>
                </tr>

            </table>

        }
    </div>

</div>


<div class="modal fade" id="Comprar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

                <h2 class="modal-title"></h2>

            </div>

            <div class="modal-body">
                <div class="te">Espere Porfavor...</div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

            </div>

            <div>

            </div>

        </div>

    </div>

</div>



@section Scripts{

    <script>
        $(document).ready(function () {

            $("body").on("click", "a.dialog-window", null, function (e) {

                e.preventDefault();

                var $link = $(this);

                var title = $link.text();

                $('#Comprar .modal-title').html(title);

                var url = $(this).attr('href');

                if (url.indexOf('#') == 0) {

                    $('#Comprar').modal('show');

                }

                else {

                    $.get(url, function (data) {

                        $('#Comprar .te').html(data);

                        $('#Comprar').modal();

                    }).success(function () { $('input:text:visible:first').focus(); });

                }

            });

        });
    </script>

}







   