@model WebMaxiFarmacia.Models.addProductView

@{
    ViewBag.Title = "AgregarProducto";
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2>AgregarProducto</h2>

        @using (Ajax.BeginForm("AgregarProducto", "Sales", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "buscarid"
        }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group form-inline">

                <div>
                    <input type="text" name="term" id="term" class="form-control" required placeholder="Buscar" autofocus autocomplete="on" />

                    <input type="submit" value="Buscar" class="btn btn-primary" />

                   

                </div>
            </div>

            <br />

            <div class="table table-responsive">
                @if (Model.Codigobarra == -1)
                {
                    <div>

                    </div>
                }
                else if (Model.Codigobarra == 0)
                {
                    <div class="alert alert-danger">
                        Producto no encontrado.
                    </div>
                }
                else
                {
                    <table id="buscarid" class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Codigo
                                </th>
                                <th class="text-center">
                                    Producto
                                </th>
                                <th class="text-center">
                                    Precio
                                </th>
                                <th class="text-center">
                                    Existencias
                                </th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="text-center">
                                @Model.Codigobarra
                            </td>
                            <td class="text-center">
                                @Model.Nombreproducto
                            </td>
                            <td class="text-right">
                                @Model.Precioventa
                            </td>
                            @if (Model.Existencia < 6)
                            {
                                <td class="text-center danger">

                                    @Model.Existencia
                                </td>
                            }
                            else
                            {
                                <td class="text-center">

                                    @Model.Existencia
                                </td>
                            }
                           
                        </tr>
                    </table>
                }
            </div>

        }

        <hr />




        @using (Ajax.BeginForm("AgregarProductoFind", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "buscarid"
        }))
        {

            <div class="form-group form-inline">
                <div>
                    @if (Model.ProductId > 0)
                    {
                        @Html.HiddenFor(model => model.ProductId)
                        @Html.HiddenFor(model => model.Codigobarra)
                        @Html.HiddenFor(model => model.Nombreproducto)
                        @Html.HiddenFor(model => model.Precioventa)
                        @Html.HiddenFor(model => model.Existencia)

                        @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                        <p class="text-info">Ingrese numeros mayores a 0.</p>
                        @*@Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })*@
                  
                        <input type="submit" value="Agregar" class="btn btn-primary" />
                    }
                </div>
            </div>
            <br />
            @*@Html.ActionLink("Agregar", "AgregarProducto", new { id = Model.ProductId }, new { @class = "btn btn-primary btn-xs" })*@
        }


    </div>
</div>









@section Scripts{
 @Scripts.Render("~/bundles/jqueryval")
  
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>

    <script>
        $(function () {
            $("#term").autocomplete({
                source: "/Sales/buscarProductojq", minLength : 2
            });
        });
    </script>


}