@model WebMaxiFarmacia.Models.NewSaleView

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sale</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @* ************** *@

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nombrecte, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nombrecte, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nombrecte, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fechavta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fechavta, new { htmlAttributes = new { @class = "form-control" } })
                       
                        @Html.ValidationMessageFor(model => model.Fechavta, "", new { @class = "text-danger" })
                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.UserId)
                        @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                        <input type="text"  value="@ViewBag.UserId" name="" class="form-control"/>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Generar" class="btn btn-primary" />
                         @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default"})
                         @Html.ActionLink("Agregar Producto", "AgregarProducto", "Sales",new { }, new { @class = "btn btn-info" })
                         @*@Html.ActionLink("Comprar", "Comprar", "Products", new { id = item.inventoryId }, new { @class = "dialog-window btn btn-info btn-xs" })*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<h4>Detalles</h4>
<hr />
@if (Model.Detalles.Count == 0)
{
    <div class="alert alert-info">
        No se ha agregado Producto.
    </div>
}
else
{
    
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Detalles[0].Descriptionpro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalles[0].Cantidad)
            </th>
            <th>
                Total
            </th>
            <th>

            </th>
        </tr>

        @foreach (var item in Model.Detalles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descriptionpro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.ActionLink("Quitar", "DeleteProductList", new { id = item.ProductId }, new { @class = "btn btn-danger btn-xs", onclick = "return confirm('Esta seguro de Quitar este producto?')"})
                </td>
            </tr>
        }
            <tr>
                <td>

                </td>
                <td>
                    <strong>Total</strong>
                </td>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => Model.TotalCantidad)
                    </strong>
                </td>
                <td>
                    <strong>
                        @Html.DisplayFor(modelItem => Model.TotalValue)
                    </strong>
                </td>
            </tr>

    </table>
}




@section Scripts{
   
    @Scripts.Render("~/bundles/jqueryval")

}