@model PagedList.IPagedList<WebMaxiFarmacia.Models.Sale>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Venta";
}

<h2>Venta</h2>

<p>
    @Html.ActionLink("Nueva", "Create")
</p>
<div class="table table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Users.NombreUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Nombrecte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Fechavta)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Users.NombreUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombrecte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fechavta)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.SaleID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.SaleID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.SaleID })
                </td>
            </tr>
        }

    </table>
</div>
    Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       sortOrder = ViewBag.CurrentSort,
       currentFilter = ViewBag.CurrentFilter
   }))
