@model IEnumerable<WebMaxiFarmacia.Models.saledetailr>

@{
    ViewBag.Title = "Ventas por Fecha";
}

@if (Model.Select(s => s.fecha).FirstOrDefault() == DateTime.Today)
{
    <h2>Ventas de Hoy </h2>
}
else
{
    <h2>Ventas de 2/5/2014 a 3/8/2018</h2>
}

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

@using (Ajax.BeginForm("rangoFecha", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "buscarid"
}))
{

    <div class="form-group form-inline hidden-print">
        <div>
            <input type="date" name="d" id="d" class="form-control" required placeholder="Buscar" autofocus autocomplete="on" />
            <b>-</b>
            <input type="date" name="hasta" id="hasta" class="form-control" required placeholder="Buscar" autofocus autocomplete="on" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </div>
}


<table class="table table-bordered table-hover table-striped">
    <tr>
        <th class="text-center">
            Cliente
        </th>
        <th class="text-center">
            Fecha
        </th>
        <th class="text-center">
            Producto
        </th>
        <th class="text-center">
            Precio
        </th>
        <th class="text-center">
            Cantidad
        </th>
        
        <th class="text-center">Total</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-center">
                @item.cliente
            </td>
            <td class="text-center">
                @item.fecha.ToString("d")
            </td>  
            <td class="text-center">
                @item.descripcion
            </td>
            <td class="text-left">
                Q.@item.precio
            </td>
            <td class="text-left">
                @item.cantidad
            </td>
            <td class="text-left">
                Q.@item.valortotal
            </td>
        </tr>
    }

    <tr>
        <td></td>
        <td class="text-center"><strong>Total Ventas</strong></td>
        <td><strong>@ViewBag.totalventa</strong></td>
        <td class="text-center"><strong>Totales</strong></td>
        <td class="text-left"><strong>@ViewBag.totalCantidad</strong></td>
        <td class="text-left"><strong>Q.@ViewBag.totalPrecioCantidad</strong></td>

    </tr>
   ...

  
</table>
