@model IEnumerable<WebMaxiFarmacia.Models.Employee>

@{
    ViewBag.Title = "Empleado";
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2>Empleado</h2>
        <p>
            @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
        <div class="table table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Company.nombresuc)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Nombreemp)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Apellidoemp)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Telefonoemp)
                    </th>
                    <th class="text-center">
                        @Html.DisplayNameFor(model => model.Direccionemp)
                    </th>
                    <th class="text-center">Acciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Company.nombresuc)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Nombreemp)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Apellidoemp)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Telefonoemp)
                        </td>
                        <td class="text-left">
                            @Html.DisplayFor(modelItem => item.Direccionemp)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.EmployeeId }, new { @class = "btn btn-primary btn-xs" }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.EmployeeId }, new { @class = "btn btn-info btn-xs" }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.EmployeeId }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


