@model IEnumerable<WebMaxiFarmacia.Models.Inventory>

@{
    ViewBag.Title = "Inventarios";
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2>Inventarios</h2>

        @using (Ajax.BeginForm("Index", new AjaxOptions
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "buscar"
        }))
        {

            <div class="form-group form-inline">
                <div>
                    <input type="text" name="termino" id="termino" class="form-control" required placeholder="Buscar" />
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </div>
            </div>
        }


        <div id="buscar">
            <div class="table table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Product.Codigobarra)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Product.Nombreproducto)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Product.Preciocompra)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Product.Precioventa)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Product.PrecioCompraNew)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Product.Porcentaje)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.User.NombreUser)
                            </th>
                            
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.Existencia)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.FechaCreada)
                            </th>
                            <th class="text-center">
                                @Html.DisplayNameFor(model => model.FechaActualizada)
                            </th>
                            @*<th class="text-center">
                                Acciones
                            </th>*@
                        </tr>
                    </thead>
                    @if (Model.Count() == 0)
                    {
                        <div class="alert alert-danger">
                            No se encontro el Registro
                        </div>
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Product.Codigobarra)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Product.Nombreproducto)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Product.Preciocompra)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Product.Precioventa)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Product.PrecioCompraNew)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.Product.Porcentaje)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.User.NombreUser)
                            </td>
                            
                            @if (item.WarehouseId == 1 && item.Existencia < 1000)
                            {
                                <td class="text-center danger">
                                    @Html.DisplayFor(modelItem => item.Existencia)
                                </td>

                            }
                            else if (item.Existencia < 30)
                            {
                                <td class="text-center danger">
                                    @Html.DisplayFor(modelItem => item.Existencia)
                                </td>
                            }
                            else
                            {
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Existencia)
                                </td>
                            }
                            
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.FechaCreada)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(modelItem => item.FechaActualizada)
                            </td>
                            @*<td class="text-center">
                                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.inventoryId }, new { @class = "btn btn-danger btn-xs" })
                                </td>*@
                        </tr>
                    }

                </table>
            </div>
            @Html.ActionLink("Ver Todo", "Index", new { }, new { @class = "btn btn-info btn-xs" })
        </div>

    </div>
</div>

