@model WebMaxiFarmacia.Models.Company

@{
    ViewBag.Title = "Nuevo";
}


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="col-xs-10 col-xs-offset-1">
                <div class="form-horizontal">

                    <h2>Nuevo</h2>
                    <h4>Sucursal</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.nombresuc, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nombresuc, new { htmlAttributes = new { @class = " col-md-10 form-control" } })
                            @Html.ValidationMessageFor(model => model.nombresuc, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "col-md-10 form-control" } })
                            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "col-md-10 form-control" } })
                            @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "col-md-10 form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Crear" class="btn btn-primary" />
                            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        }
         



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
