@model PagedList.IPagedList<WebMaxiFarmacia.Models.Company>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sucursal";
}



<div class="row">
    
        <h2>Sucursal</h2>
        <p>
            @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
        </p>
    @using (Ajax.BeginForm("Index", new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "buscarid"
    }))
    {

        <div class="form-group form-inline">
            <div>
                <input type="text" name="termino" id="termino" class="form-control" required placeholder="Buscar" autofocus autocomplete="on"/>
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </div>
    }
        <div class="table table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().nombresuc)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().telefono)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().direccion)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.FirstOrDefault().email)
                        </th>
                        <th class="text-center">Acciones</th>
                    </tr>
                 </thead>

            @foreach (var item in Model) {
               
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.nombresuc)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.telefono)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.direccion)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.CompanyId }, new { @class = "btn btn-primary btn-xs" }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.CompanyId }, new { @class = "btn btn-info btn-xs" }) |
                            @Html.ActionLink("eliminar", "Delete", new { id = item.CompanyId }, new { @class = "btn btn-danger btn-xs" })
                        </td>
                     
                    </tr>
            }
            </table>
            
        </div>
   
            Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new
   {
       page,
       sortOrder = ViewBag.CurrentSort,
       currentFilter = ViewBag.CurrentFilter
   }))
       
    @Html.ActionLink("Ver Todo", "Index", new { }, new { @class = "btn btn-info btn-xs" })
  
    
</div>
