@model WebMaxiFarmacia.Models.User

@{
    ViewBag.Title = "Nuevo";
}

<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2>Nuevo</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Usuario</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <hr />


                <div class="form-group">
                    @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EmployeeId", null, htmlAttributes: new { @class = "form-control", autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreUser, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NombreUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.NombreUser, "", new { @class = "text-danger" })
                        <br />
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <div class="form-group">
                            <div class="col-md-10 radio">
                                <label class="radio-inline">
                                    <input type="radio" value="SuperAdmin" name="role" checked class="col-md-2">Super Administrador
                                </label>
                            </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 radio">
                                    <label class="radio-inline">
                                        <input type="radio" value="Admin" name="role" checked class="col-md-2">Administrador
                                    </label>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-10 radio">
                                    <label class="radio-inline">
                                        <input type="radio" value="Admin" name="role" checked class="col-md-2">Administrador
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 radio">
                                    <label class="radio-inline">
                                        <input type="radio" value="User" name="role" class="col-md-2">Vendedor
                                    </label>
                                </div>
                            </div>
                        }


                    </div>
                </div>
                @Html.HiddenFor(model => model.CompanyId)
                <div class="form-group">
                    @*@Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })*@

                    <br
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
    </div>
    </div>



    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
