@model WebMaxiFarmacia.Models.User

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliinar</h2>

<h3>Esta seguro de Eliminar este Registro?</h3>
<div>
    <h4>Usuario</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.nombresuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.nombresuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Nombreemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Nombreemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUser)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-default"})
        </div>
    }
</div>
