@model WebMaxiFarmacia.Models.User

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.nombresuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.nombresuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Nombreemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Nombreemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.UserId }, new { @class = "btn btn-primary"}) |
    @Html.ActionLink("Regresar", "Index",new { }, new { @class = "btn btn-default" })
</p>
