@model PagedList.IPagedList<WebMaxiFarmacia.Models.User>
@using PagedList.Mvc

@{
    ViewBag.Title = "Usuarios";
}

<h2>Usuarios</h2>
<p>
    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
</p>
@using (Ajax.BeginForm("Index", new AjaxOptions
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "buscarid"
}))
{

    <div class="form-group form-inline">
        <div>
            <input type="text" name="termino" id="termino" class="form-control" required placeholder="Buscar" autofocus autocomplete="" />
            <input type="submit" value="Buscar" class="btn btn-primary" />
        </div>
    </div>
}


<div class="table table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Company.nombresuc)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Employee.Nombreemp)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().NombreUser)
            </th>
            <th class="text-center">Acciones</th>
        </tr>
        @if (Model.Count() == 0)
        {
            <div class="alert alert-danger">
                No se encontro el Registro
            </div>
        }
    @foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Company.nombresuc)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Employee.Nombreemp)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.NombreUser)
            </td>
            <td class="text-center">
                @Html.ActionLink("Editar", "Edit", new { id = item.UserId }, new { @class = "btn btn-primary btn-xs"}) |
                @Html.ActionLink("Detalles", "Details", new { id=item.UserId }, new { @class = "btn btn-info btn-xs" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.UserId }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

    </table>
</div>
Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
           {
               page,
               sortOrder = ViewBag.CurrentSort,
               currentFilter = ViewBag.CurrentFilter
           }))
@Html.ActionLink("Ver Todo", "Index", new { }, new { @class = "btn btn-info btn-xs" })
